{% extends "template.html" %}{% block title %}Recommendations{% endblock %} {%
block content %}
<!--page heading-->
<h1 id="thiccheadings">Recommendations</h1>

<br />

<!--table + imgs for page-->
<div class="row tablerow">
  <!--opening row for one celeb-->
  <div class="col-md-4 center_heading faded_background tabletext">
    <!--kang haerin row-->
    <img
      class="tablephoto"
      src="static/assets/img/celebs/haerin.png"
      alt="Kang Haerin from NewJeans"
    />
    <h5>Kang Haerin</h5>
    <p>Hype Boy</p>
  </div>
  <div class="col-md-7">
    <table class="table table-hover">
      <tr>
        <td>Flavour</td>
        <td>Strawberry Milk Tea</td>
      </tr>
      <tr>
        <td>Toppings</td>
        <td>Grass Jelly</td>
      </tr>
      <tr>
        <td>Sugar Level</td>
        <td>75% Sugar</td>
      </tr>
      <tr>
        <td>Ice Level</td>
        <td>50% Ice</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td><span class="badge badge-pill badge-success">85</span></td>
      </tr>
    </table>
  </div>
</div>
<!--closing div for one celeb-->

<br />

<div class="row tablerow">
  <!--opening row for one celeb-->
  <div class="col-md-4 center_heading faded_background tabletext">
    <!--cha eunwoo row-->
    <img
      class="tablephoto"
      src="static/assets/img/celebs/eunwoo.png"
      alt="Cha Eunwoo from ASTRO"
    />
    <h5>Eunwoo</h5>
    <p>ottoke ottoke</p>
  </div>
  <div class="col-md-7">
    <table class="table table-hover">
      <tr>
        <td>Flavour</td>
        <td>Mango Green Tea</td>
      </tr>
      <tr>
        <td>Toppings</td>
        <td>Tapioca Pearls</td>
      </tr>
      <tr>
        <td>Sugar Level</td>
        <td>50% Sugar</td>
      </tr>
      <tr>
        <td>Ice Level</td>
        <td>25% Ice</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td><span class="badge badge-pill badge-warning">75</span></td>
      </tr>
    </table>
  </div>
</div>
<!--closing div for one celeb-->

<br />

<div class="row tablerow">
  <!--opening row for one celeb-->
  <div class="col-md-4 center_heading faded_background tabletext">
    <!-- matpat row-->
    <img
      class="tablephoto"
      src="static/assets/img/celebs/matpat.png"
      alt="MatPat from the Game Theorists"
    />
    <h5>MatPat</h5>
    <p>It's just a theory</p>
  </div>
  <div class="col-md-7">
    <table class="table table-hover">
      <tr>
        <td>Flavour</td>
        <td>Matcha Milk Tea</td>
      </tr>
      <tr>
        <td>Toppings</td>
        <td>Red Bean</td>
      </tr>
      <tr>
        <td>Sugar Level</td>
        <td>50% Sugar</td>
      </tr>
      <tr>
        <td>Ice Level</td>
        <td>75% Ice</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td><span class="badge badge-pill badge-success">90</span></td>
      </tr>
    </table>
  </div>
</div>
<!--closing div for one celeb-->

<br />

<div class="row tablerow">
  <!--opening row for one celeb-->
  <div class="col-md-4 center_heading faded_background tabletext">
    <!-- Bang Chan row-->
    <img
      class="tablephoto"
      src="static/assets/img/celebs/bangchan.png"
      alt="Bang Chan from SKZ"
    />
    <h5>Bang Chan</h5>
    <p>3RACHA</p>
  </div>
  <div class="col-md-7">
    <table class="table table-hover">
      <tr>
        <td>Flavour</td>
        <td>Thai Milk Tea</td>
      </tr>
      <tr>
        <td>Toppings</td>
        <td>Coconut Jelly</td>
      </tr>
      <tr>
        <td>Sugar Level</td>
        <td>100% Sugar</td>
      </tr>
      <tr>
        <td>Ice Level</td>
        <td>25% Ice</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td><span class="badge badge-pill badge-danger">30</span></td>
      </tr>
    </table>
  </div>
</div>
<!--closing div for one celeb-->

<br />

{% endblock %}
